body{
    margin:0;
    padding:0;
    background-color: rgba(0,0,0, 1);
}

#teclas{
    position:absolute;
    bottom:2rem;
    left: 2rem
}

#topo{
    position: absolute;
    bottom:2rem;
    right:2rem;
    height:25%;
    width: 15%;
    border: solid 0.5rem white;
}

span{
    color:rgba(255,255,255, 1)
}