/* 
    Trabalho:       eFólio B - Computação Gráfica
    Autor:          Paulo Nicolau
    Número Aluno:   1800465
    Curso:          Licenciatura em Engenharia Informática
    Este código estará disponivel de forma pública no repositório
    GitHub https://github.com/PauloJMNicolau/cgi_efolioB
    após o dia 16 de Janeiro de 2021 em licença MIT
*/

/* Estilos dos elemenos da página */
body{
    margin:0;
    padding:0;
    background-color: rgba(0,0,0, 1);
}

#teclas{
    position:absolute;
    bottom:2rem;
    left: 2rem
}

#topo{
    position: absolute;
    bottom:2rem;
    right:2rem;
    height:25%;
    width: 15%;
    border: solid 0.5rem white;
}

span{
    color:rgba(255,255,255, 1);
    font-weight: bold;
}

#vida{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 15%;
    color:rgba(255,255,255, 1);
    font-size: 3rem;
}

#ponto{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 15%;
    color:rgba(255,255,255, 1);
    font-size: 3rem;
}

#gameover{
    position: absolute;
    top: 2rem;
    left: 3rem;
    color:rgba(255,0,0, 1);
    font-size: 5rem;
    visibility:hidden;
}